@model IEnumerable<eStore.Web.UI.Areas.Store.ViewModels.GenreModel>

@using eStore.Web.UI.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>

@section sidebar
{
    <h2>fefefe</h2>
}

<p>
    @Html.CreateNew(null)
</p>


@foreach (var item in @Model)
{
    <li>
        @Html.ActionLink(item.Title, "Index", "Book", new { id = item.GenreId }, null)
    @if (IsEditAllowed)
    {
        <text>
            @Html.ActionLink("Edit", "Edit", new { id = item.GenreId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GenreId })
        </text>
    }
</li>
}

@section searchbar{
    @Html.Action("Search", "Search")
}