@model CartModel

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Cart <small>hah</small></h1>
</div>

<div class="button-group">
    <button class="btn btn-primary" data-bind="click: cartVM.reload">Reload</button>
    <a class="btn btn-default" data-bind="attr: {href: cartVM.returnUrl}" title="Continue shopping from the last visited place in our story">Continue</a>
    @Html.ActionLink("Checkout", "Index", "Checkout", new {area = "store"}, new {@class = "btn btn-default"})
</div>
<br>
<div class="well">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: cartVM.items -->
            <tr>
                <td data-bind="text: title"></td>
                <td data-bind="text: price"></td>
                <td data-bind="text: count"></td>
                <td><a href="#" class="delItem" data-bind="click: $root.cartVM.delItem"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            <!-- /ko -->
            <tr>
                <td>Total:</td>
                <td></td>
                <td data-bind="text: cartVM.total"></td>
            </tr>
        </tbody>

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/estore.cartviewmodel.js")

    <script>
        
        var model = @Html.ToJSON(Model)
        var delUrl = '@Url.HttpRouteUrl("DefaultApi", new {controller = "Cart", action = "Delete", id = "-ID"})'
        var getUrl = '@Url.HttpRouteUrl("DefaultApi", new {controller = "Cart", action = "Get"})'

        ko.setTemplateEngine(new ko.nativeTemplateEngine());
        estore.vm.cartVM = new estore.CartViewModel(model, delUrl, getUrl);
    </script>
}

<div id="admin-options" data-bind="text: ko.toJSON($data)">
    
</div>
