@model CartModel

@{
    ViewBag.Title = "Index";
}

<script id="rowTmpl" type="text/html">
    <tr>
        <td data-bind="text: Title"></td>
        <td data-bind="text: Price"></td>
        <td data-bind="text: Count"></td>
        <td><a href="#" class="delItem" data-bind="click: $parent.delItem"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
</script>

<div class="page-header">
    <h1>Cart <small>hah</small></h1>
</div>

<div class="button-group">
    <button class="btn btn-primary" data-bind="click: reload">Reload</button>
    <a class="btn btn-default" data-bind="attr: {href: returnUrl}" title="Continue shopping from the last visited place in our story">Continue</a>
    @Html.ActionLink("Checkout", "Index", "Checkout", new {area = "store"}, new {@class = "btn btn-default"})
</div>
<br>
<div class="well">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'rowTmpl', foreach: items }">
@*            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.CartItemId })"><span class="glyphicon glyphicon-remove"></span></a>
                        @Ajax.ActionLink("Delete", "Delete", "Cart", new { area = "store", id = item.CartItemId }, new AjaxOptions { UpdateTargetId = "admin-options", HttpMethod = "DELETE" })
                        @Ajax.BS3ImageActionLink("remove", "Delete", "Cart", new { area = "store", id = item.CartItemId }, new AjaxOptions { UpdateTargetId = "admin-options", HttpMethod = "DELETE" })
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")

    <script>
        
        var CartViewModel = function (model) {
            
            this.items = ko.observableArray(model.Items);
            this.returnUrl = ko.observable(model.ReturnUrl);

            this.delItem = function (itemId, event) {
                var data = ko.toJS(itemId);
                var item = ko.dataFor(itemId);
                console.log("ww", data);
                $.ajax({
                    url: '@Url.HttpRouteUrl("DefaultApi", new {controller = "Cart", action = "Delete", id = "-ID"})'.replace('-ID', data.CartItemId),
                    type: 'Delete',
                    data: data,
                    context: this,
                    success: function (data) {
                        if (data.success) {
                            this.items.pop();
                        }
                    }
                });
            }.bind(this);

            this.reload = function () {
                $.ajax({
                    url: '@Url.HttpRouteUrl("DefaultApi", new {controller = "Cart", action = "Get"})',
                    type: 'POST',
                    context: this,
                    success: function (data) {
                        this.items(data);
                    }
                });
            }.bind(this);

        };

        var vm = new CartViewModel(@Html.ToJSON(Model));
        ko.setTemplateEngine(new ko.nativeTemplateEngine());
        ko.applyBindings(vm);
    </script>
}

<div id="admin-options" data-bind="text: ko.toJSON($data)">
    
</div>
