@model GenreBooksModel

<div class="books-pane">
    <div class="row">
        <div class="col-md-6">
            <div class="book-items-header">
                Good Books
            </div>
        </div>
    </div>
    
    <p>
        @Html.CreateNew(new { id = Model.GenreId })
    </p>

    <div class="row">
        @foreach (var item in Model.Books)
        {            
            <div class="col-md-3">
                <div class="book-item">
                    <div class="book-item-img-box">
                        <img class="img-thumbnail book-item-img centred" src= "@Url.Action("Image", "Book", new { fileName = item.ImageFile })" alt="Image" height="120"/>
                    </div>
                    <div class="book-item-author">
                        <p class="bi-author">@item.Author</p>
                    </div>
                    <div class="book-item-title" style="min-height:70px;">
                        <p class="centred">@Html.ActionLink(item.ShortTitle.Substring(0, item.ShortTitle.Length >= 40 ? 40 : item.ShortTitle.Length) , "Details", "Book", new { id = item.BookId }, null)</p>
                    </div>
                    <div class="book-item-price">
                        <b>@item.Price</b>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>

