@model IEnumerable<eStore.Web.UI.Areas.Store.ViewModels.BookModel>
@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<table>
    <tr>
        <th>
            Author
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id=item.BookId})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookId})
        </td>
    </tr>
}
</table>