@model MigrationsModel

@{
    ViewBag.Title = "Migrations";
}
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(m => m.Database)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.Local)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.Pending)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ListBoxFor(m => m.Database, new SelectList(Model.Database), new { @class = "migrlist", data_bind = "options: migrVM.migrationsDb" })
    </div>
    <div class="col-md-4">
        @Html.ListBoxFor(m => m.Local, new SelectList(Model.Local), new { @class = "migrlist", data_bind = "options: migrVM.migrationsLocal" })
    </div>
    <div class="col-md-4">
        @Html.ListBoxFor(m => m.Pending, new SelectList(Model.Pending), new { @class = "migrlist", data_bind = "options: migrVM.migrationsPending" })
    </div>
</div>
<br>
@*<div class="row">*@
<div class="col-md-6">
    <div class="row">
        <button class="btn btn-primary" data-bind="click: migrVM.reload">Reload</button>
    </div>
    <br>
    <div class="row">
        <div id="infoAlert" class="alert alert-info in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Migration target and direction</strong>
        </div>
        <div id="warnAlert" class="alert alert-warning fade hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>You should select the migration target or direction</strong>
        </div>
        <div id="successAlert" class="alert alert-success fade hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>The database has successfully migrated!</strong>
        </div>
        <div id="errAlert" class="alert alert-danger fade hide">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong id="errmsg">Migration failed!</strong>
        </div>
    </div>
    <div class="row">
        @using (Ajax.BeginForm(
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "estore.vm.migrVM.onBegin",
                OnSuccess = "estore.vm.migrVM.onSuccess",
                OnFailure = "estore.vm.migrVM.onFailure",
                Url = Url.HttpRouteUrl("DefaultApi", new { controller = "Migration", action = "UpdateTo" })
            }))
        {
            <div class="form-group">
                <div>
                    <div class="input-group">
                        <input type="text" id="target" name="target" class="form-control" placeholder="Target migration" autofocus />
                        <span class="input-group-btn">
                            <button type="button" id="clearBtn" class="btn">X</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="isDowngrade" id="option1" value=true>Initial
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="isDowngrade" id="option2" value=false>Latest
                </label>
            </div>
            <div class="btn-group">
                <input type="submit" class="btn btn-primary" value="Go!">
            </div>
        }
    </div>
</div>
@*</div>*@

<style>
    .migrlist {
        width: 300px;
    }
</style>


@section Scripts {
    @Scripts.Render("~/Scripts/lib/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/app/estore.migrationsviewmodel.js")

    <script type="text/javascript">
        var model = @Html.ToJSON(Model)
        var url = '@Url.HttpRouteUrl("DefaultApi", new {controller = "Migration", action = "List"})'

        estore.vm.migrVM = new estore.MigrationsViewModel(model, url);
    </script>
}


