@model MigrationsModel

@{
    ViewBag.Title = "Migrations";
}
http://stackoverflow.com/questions/13550477/twitter-bootstrap-alert-message-close-and-open-again
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(m => m.Database)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.Local)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.Pending)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ListBoxFor(m => m.Database, new SelectList(Model.Database), new { @class = "migrlist" })
    </div>
    <div class="col-md-4">
        @Html.ListBoxFor(m => m.Local, new SelectList(Model.Local), new { @class = "migrlist" })
    </div>
    <div class="col-md-4">
        @Html.ListBoxFor(m => m.Pending, new SelectList(Model.Pending), new { @class = "migrlist" })
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div id="warnAlert" class="alert alert-warning fade">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>You should select the migration target or direction</strong>
        </div>
        <div id="successAlert" class="alert alert-success fade">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>The database has successfully migrated!</strong>
        </div>
        @using (Ajax.BeginForm(
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "onBegin",
                OnSuccess = "onSuccess",
                OnFailure = "onFailure",
                Url = Url.HttpRouteUrl("DefaultApi", new {controller = "Migration", action = "UpdateTo"})
            }))
        {
            <div class="form-group">
                <span class="label label-default">Target:</span>
                <input type="text" id="target" name="target" class="form-control" />
            </div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="isDowngrade" id="option1" value=true>Latest
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="isDowngrade" id="option2" value=false>Initial
                </label>
            </div>
            <div class="btn-group">
                <input type="submit" class="btn btn-primary" value="Go!">
            </div>
        }
    </div>
</div>

<style>
    .migrlist {
        width: 300px;
    }
</style>


@section Scripts {
    @Scripts.Render("~/Scripts/lib/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/lib/bootstrap.js")

    <script type="text/javascript">
        function onBegin(ajaxContext) {

            if (!$('#option1').is(':checked') && !$('#option2').is(':checked')
                && $('#target').val().length == 0) {
                $('#warnAlert').addClass('in');
                return false;
            }
            
            $('.close').click(function () {
                $(this).parent().removeClass('in');
            }

            return true;
        }

        function onSuccess() {
            $('#successAlert').slideDown(200);
        }

        function onFailure(ajaxContext) {
            $('#warnAlert').alert('close');
            alert('e2');
        }

    </script>
}


