@model BookFullModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-4">
        <img src= "@Url.Action("Image", new { fileName = Model.ImageFile})" alt="Image" />
    </div>
    <div class="col-md-5">
        @Html.HiddenFor(model=>model.BookId)
        <span><strong>@Model.Title</strong></span>
        <br>
        <span>@Model.Author</span>
        <br><br>
        <div>
            <span class="overview-hdr">Overview - </span>
            <span>@Model.Desc</span>
            <a href="#overview">Read more...</a>
        </div>
        <br>
        <div class="hr-top"> </div>
        <span>Published Year: </span><b><span>@Model.Year</span></b><br />
        <span>Pages: </span><b><span>@Model.Pages</span></b><br />
        <span>ISBN: </span><b><span>@Model.ISBN</span></b><br />
        @if (IsEditAllowed)
        {
            @Html.ActionLink("Edit", "Edit", new { id=Model.BookId })
        }

    </div>
</div>

<p>
@Html.ActionLink("Back to List", "Index", new { id = Model.GenreId })

</p>

@section sidebar{
    @Html.Action("Catalog", "Genre")
}

@section searchbar{
    @Html.Action("Search", "Home")
}