@model eStore.Web.UI.Areas.Store.ViewModels.BookFullModel

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Book</legend>

    @Html.HiddenFor(model=>model.BookId)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Pages)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pages)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc)
    </div>
</fieldset>
<p>
@if (IsEditAllowed)
{
    <text>
        @Html.ActionLink("Edit", "Edit", new { id=Model.BookId }) |
    </text>
}
@Html.ActionLink("Back to List", "Index", new { id = Model.GenreId })

</p>
