@model BookFullModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-4">
        <img class="centred" src= "@Url.Action("Image", new { fileName = Model.ImageFile})" alt="Image" width="200"/>
        <div><p class="det-price">@Model.Price</p></div>
        <div><button class="addToCart btn btn-primary centred" data-bookid="@Model.BookId" data-bind="click: addToCartVM.addToCart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Add to Cart</button></div>
    </div>
    <div class="col-md-5">
        @Html.HiddenFor(model=>model.BookId)
        <span><strong>@Model.Title</strong></span>
        <br>
        <span>@Model.Author</span>
        <br><br>
        <div>
            <span class="overview-hdr">Overview - </span>
            <span>@Model.ShortDesc</span>
            @if (Model.IsDescTooLong)
            {
                <a href="#overview">Read more...</a>
            }
        </div>
        <br>
        <div class="hr-top"> </div>
        <span>Published Year: </span><b><span>@Model.Year</span></b><br />
        <span>Pages: </span><b><span>@Model.Pages</span></b><br />
        <span>ISBN: </span><b><span>@Model.ISBN</span></b><br />
        @if (IsEditAllowed)
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id=Model.BookId }) 
                @Html.ActionLink("Delete", "Delete", new { id=Model.BookId })
            </p>
        }

    </div>
</div>
<br><br><br><br>
<p>
@Html.ActionLink("Back to List", "Index", new { id = Model.GenreId })

</p>

@section sidebar{
    @Html.Action("Catalog", "Genre")
}