@model eStore.Web.UI.Areas.Store.ViewModels.GenreBooksModel
@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<p>
    @Html.CreateNew(new { id = Model.GenreId })
</p>

<table class="table table-striped table-hover">
<thead>
    <tr>
        <th>
            Author
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.BookId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (IsEditAllowed)
                {
                    <text>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookId, genreId = Model.GenreId })
                    </text>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section searchbar{
    @Html.Action("Search", "Home")
}
