@model eStore.Web.UI.Areas.Account.ViewModels.LogOnModel

@{
    ViewBag.Title = "LogOn";
}

<div>
    <div class="row">
        <div class="page-title">
            <h1>Welcome, Please Sign In!</h1>
        </div>
        <div class="col-md-5">
            <h3>New Customer!</h3>
            <p>By creating an account at eStore you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.</p>
            <br>
            <div class="buttons">
                @Html.ActionLink("Register", "Register", "Account", new { area = "account" }, new { @class = "btn btn-large btn-primary" })
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h3>Use a local account to log in.</h3>
                @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, role = "form" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("ReturnUrl", (object)ViewBag.ReturnUrl);

                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </div>

                <input type="submit" class="btn btn-default" value="Log in" />
                }
            </div>
            <div class="row">
                <button class="btn btn-lg btn-facebook">
                    <i class="icon-facebook"></i>
                </button>
                <button class="btn btn-lg btn-twitter">
                    <i class="icon-twitter"></i>
                </button>
                <button class="btn btn-lg btn-google-plus">
                    <i class="icon-google-plus"></i>
                </button>
                <button class="btn btn-lg btn-github" title="GitHub">
                    <i class="icon-github"></i>
                </button>
                <button class="btn btn-lg btn-linkedin">
                    <i class="icon-linkedin"></i>
                </button>
                <button class="btn btn-lg btn-skype ">
                    <i class="icon-skype"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#Name').focus();
    </script>
}

@Styles.Render("~/Content/social")
@Styles.Render("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css")